/* Fonts */
/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ibm-plex-sans-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/ibm-plex-sans-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Variables */
:root {
  --color-orange: hsl(22, 88%, 66%);
  --color-yellow: hsl(37, 99%, 72%);
  --color-green-400: hsl(167, 47%, 56%);
  --color-green-700: hsl(120, 33%, 59%);
  --color-blue-400: hsl(175, 39%, 59%);
  --color-blue-700: hsl(203, 39%, 60%);
  --color-purple: hsl(300, 24%, 66%);
  --color-grey: hsl(232, 88%, 97%);
  --color-black-400: hsl(212, 29%, 10%);
  --color-black: #000;
}

/* Base styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Typography */
body {
  font-family: 'IBM Plex Sans';
  background: var(--color-grey);
}

h1 {
  font-size: clamp(2.5rem, 1.0465116279069768rem + 6.2015503875969vw, 5rem);
  margin-bottom: 25px;
  line-height: 1.1;
}

h2 {
  font-size: clamp(2rem, 0.7999999999999998rem + 2.666666666666667vw, 2.5rem);
  line-height: 1.25;
  margin-bottom: 16px;
}

p {
  font-size: clamp(1rem, 0.8546511627906976rem + 0.6201550387596899vw, 1.25rem);
  line-height: 1.5;
}

/* Wrapper */
  .wrapper {
    max-width: 1020px;
    margin-inline: auto;
    outline: 1px solid red;
  }

/* Header section */
.header {
  padding-block-start: 40px;
}

.header__wrapper {
  padding-inline: 16px;
}

.header__logo {
  width: 9.18rem;
}

@media screen and (min-width: 720px) {
  .header__wrapper {
    padding-inline: 32px;
  }  
}

@media screen and (min-width: 1120px) {
  .header__wrapper {
    padding-inline: 0;
  }
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  gap: 8px;
  text-decoration: none;
  padding: 18px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}

.btn--block {
  width: 100%;
}

.btn--dark {
  color: #fff;
  background-color: var(--color-black);
  transition: background-color 0.3s;
}

.btn--dark:hover {
  background-color: var(--color-blue-400);
}

.btn--light {
  background-color: var(--color-grey);
  color: var(--color-black);
  transition: background-color 0.3s;
}

.btn--light:hover {
  background-color: var(--color-yellow);
}

/* Showcase Block */
.showcase-block {
  background: var(--color-orange);
  padding-inline: 16px;
  padding-block-start: 2.3rem;
  padding-block-end: 4rem;
}

.showcase-block__text {
  width: 35ch;
}

.showcase-block__price-tag {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  margin-block: 1.6rem;
}

.showcase-block__price-tag .price {
  font-weight: 700;
  font-size: 4.06rem;
}